*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{

background:#eadede;

display:flex;

justify-content:center;

padding:50px;

}

.container{

width:500px;

background:white;

padding:40px;

border-radius:20px;

display:flex;

flex-direction:column;

gap:18px;

}

.voltar{

width:60px;

height:40px;

border:none;

background:#c98b8b;

color:white;

border-radius:12px;

cursor:pointer;

}

h1{

color:#c88b8b;

text-align:center;

}

.foto{

display:flex;

justify-content:center;

}

.foto img{

width:140px;

height:140px;

border-radius:50%;

object-fit:cover;

}

input{

height:55px;

border:none;

background:#ececec;

border-radius:14px;

padding:14px;

}

.salvar{

height:60px;

background:#6f76b7;

color:white;

border:none;

border-radius:16px;

cursor:pointer;

}