*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#eadede;
min-height:100vh;
}

.tela{
width:100%;
min-height:100vh;

display:flex;
flex-direction:column;
}

.topo{

width:100%;
height:90px;

background:#cd8e8e;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

}



.voltar,
.sair{

border:none;

background:#6b73af;

color:white;

padding:12px 18px;

border-radius:12px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.voltar:hover,
.sair:hover{

transform:scale(1.05);

}

.foto{

width:220px;
height:220px;

background:white;

border-radius:50%;

margin:40px auto 20px;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

box-shadow:0 3px 18px rgba(0,0,0,.15);

}

.foto img{
width:130px;
}

.usuario{

text-align:center;

}

.usuario h1{

font-size:36px;

color:#6f6f6f;

}

.usuario p{

font-size:22px;

color:#8a8a8a;

margin-top:10px;

}


.linha{

width:80%;

height:1px;

background:#d7b6b6;

margin:35px auto;

}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding: 0 20px;
}

.item {
  width: 320px; 
  min-height: 80px;
  background: #6f76b7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor:pointer;
  padding: 12px;
  transition: .3s;
}
.item:hover{

transform:scale(1.04);

}

.favoritos{

display:flex;

justify-content:center;

margin-top:30px;

}

.favoritos .item{

width:320px;

}

.rodape{

margin-top:40px;

display:flex;

flex-direction:column;

align-items:center;

cursor:pointer;

padding-bottom:50px;

}

.historia{

width:320px;

height:80px;

}

.logo{

width:150px;

transition:.3s;

}

.logo:hover{

transform:scale(1.05);

}

.texto{

margin-top:14px;

color:#c28a8a;

font-size:17px;

text-align:center;

max-width:350px;

line-height:1.5;

}


@media(max-width:900px){

.menu{

grid-template-columns:1fr;

}

.item,
.favoritos .item,
.historia{

width:90%;

}

.foto{

width:180px;
height:180px;

}

.foto img{

width:110px;

}

.usuario h1{

font-size:28px;

}

.usuario p{

font-size:18px;

}

}

@media(max-width:500px){

.topo{

padding:0 15px;

}

.voltar,
.sair{

font-size:14px;

padding:10px;

}

.foto{

width:150px;
height:150px;

}

.logo{

width:120px;

}
.item{
gap:14px;
}

.item i{
font-size:26px;
}

.item span{
font-size:20px;
}

.voltar i{
font-size:20px;
}
}